* {
    margin: 0px;
}
.heading {
    background-color: blue;
    text-align: center;
    
    padding-top: 25px;
    padding-bottom: 25px;
}
.calcBorder {
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-bottom: 15px;
}
.calculator {
    width: 275px;
    grid-column: 2;
    margin-top: 20px;
    border: 2px black solid;
}
.currentOperandText {
    padding-top: 40px;
    padding-right: 10px;
}
.display {
    background-color: salmon;
    text-align: right;
    grid-column: 2;
    height: 75px;
}
.calcButtons {
    background-color: slateblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 2;
    height: 400px;
}
.decimal {
    grid-column:  4;
}